<h4>Todo:</h4>
<ul>
	<li><strike>Posts</strike></li>
	<li><strike>Comments</strike></li>
	<li><strike>Scoring</strike></li>
	<li><strike>Categories</strike></li>
	<li>Invite system</li>
	<li><strike>Userlist</strike></li>
	<li>Sorting posts</li>
	<li>Editing comments</li>
	<li>Feedback/Feature Requests</li>
	<li><strike>Responsive Nav</strike> (sorta)</li>
	<li>Other things</li>
</ul>