<% if user_signed_in? %>
	<h3>
		Home
	</h3>
	<p>This is an side project I've been working on for a few weeks. Basically, I'm implimenting my own forum system in RoR, and doing it the way I would do it, super simple, super clean, super RESTful. We'll see how this little experiment turns out I guess. Let me know what you think by commenting <a href="/posts/4">here</a> or clicking the feedback button if I ever get around to adding it.</p>

<% end %>