<% if user_signed_in? %>
	<h3>
		Home
	</h3>
	<p>Todo:</p>
	<ul>
		<li>Invite system</li>
		<li>Userlist</li>
		<li>Sorting posts</li>
		<li>Editing comments</li>
		<li>Other things</li>
	</ul>

<% end %>