<h3>Invites</h3>

<p>Invites to Watlinks currently cost <b>10</b> points each. You will need to accumulate a score by creating posts which are deemed valuable to members of the community</p>

<p>You have <b><%= current_user.score/50 %></b> invites available (score of <%= current_user.score %>/50)</p>

<p>The cost of invitations will eventually be a function of the size of the community</p>